<p>Welcome to <%= title %></p>
<form action="/bookings" method="post">
  Date from: <input type="text" name="bookFrom">
  Date to: <input type="text" name="bookTill">
  <input type="submit" value="Submit">
</form>
