<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Allstaas-bnb<%= title %></p>
    <form action="/confirmation" method="post">
      Name: <input type="text" name="name">
      Description: <input type="text" name="description">
      Price: <input type="text" name="price">
      Available from: <input type="text" name="availableFrom">
      Available till: <input type="text" name="availableTill">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
