<div class="container">
  <div class="col-md-12 text-center">
    <h1>Welcome to Allstaas Bnb</h1>
    <br>
    <a href="/listings" class="btn-primary btn-lg">view listings</a>
    <br>
    <br>
  </div>
</div>
