
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Allstaas Bnb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="/images/whitelogo.png">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" id="navbarHeaders">
        <li><a href="/">Home</a></li>
        <li><a href="/listings">Listings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/users/new"><span class="glyphicon glyphicon-sign-up"></span> Signup</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <%- body %>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

</body>
</html>
