<p>Welcome to <%= title %></p>
<form action="/listings" method="post">
  Name: <input type="text" name="name">
  Description: <input type="text" name="description">
  Price: <input type="text" name="price">
  Available from: <input type="date" name="listFrom">
  Available till: <input type="date" name="listTill">
  <input type="submit" value="Submit">
</form>
