<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% listings.forEach(function(item, index) { %>
      <p><%= item.name %></p>
      <p><%= item.description %></p>
    <%    }); %>
  </body>
</html>
