.navbar-inverse {
  background-image: url("/images/space-2.png");
  border-color: #080808;
}

.navbar-brand {
    float: left;
    height: 90px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#navbarHeaders {
  font-size: 20px
}

.nav navbar-nav {
    vertical-align: middle;
}

.limiteddescription {
  overflow:hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
}
